html, body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

em {
  color: white;
  position: absolute;
  top: 32%;
  left: 50%;
  -webkit-transform: translate(-50%, -270%);
          transform: translate(-50%, -270%);
}

p {
  color: white;
  font-size: 30px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  color: white;
}

.message {
  text-align: center;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 510%);
          transform: translate(-50%, 510%);
}

.content {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error-circle {
  position: absolute;
  border-radius: 50%;
  background-color: #327f9e;
  color: white;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.inner-circle {
  position: absolute;
  /* background-color: #ddd; */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
