#menu {
  display: none;
}

#centered-content {
  position: absolute;
  text-align: center;
  top: 50% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  letter-spacing: 2px;
  color: #327f9e;
  text-shadow: 2px 2px 3px #ccc;
  text-align: center;
  font-size: 4em;
  padding: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  margin-bottom: 35px;
}

label {
  color: #327f9e;
  font-size: 2em;
  margin-right: 15px;
}

#username-label {
  margin-right: 11px;
}

.email-label {
  margin-right: 11px;
}

input {
  color: grey;
  font-size: 1.4em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  border: 1px dotted #ccc;
  /* width: 200px; */
}

.inputs {
  width: 455px;
   -webkit-transform: translate(-62px, 26px);
  transform: translate(-62px, 26px);
}

#create-account {
  position: relative;
  /* right: 36px !important; */
  top: -8px;
  left: 130px;
}

#lfp_timbalbundle_course_password_first {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

#lfp_timbalbundle_course_email {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
}

.save {
  text-align: center;
  margin-top: 50px;
  font-weight: normal;
  font-size: 1.2em;
  width: 110px;
  color: white !important;
  background-color: #327f9e;
  text-align: center !important;
  padding: 5px;
  border-radius: 20px;
  border: 1px dotted #327f9e;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  outline: none;
}

.save:hover {
  cursor: pointer;
  border: 1px solid grey !important;
}

.id-save {
  margin-top: 81px;
}

.alert-danger, ul {
  color: white;
  background-color: #b74153;
  border-radius: 9px;
  padding: 8px 13px 6px;
  margin-top: 13px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul {
  position: absolute;
  margin-top: 23px;
  list-style: none;
  top: -415px;
  left: 92px;
}
