#menu {
  display: none;
}

#centered-content {
  position: absolute;
  text-align: center;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  letter-spacing: 2px;
  color: #327f9e;
  text-shadow: 2px 2px 3px #ccc;
  text-align: center;
  font-size: 4em;
  padding: 0;
  transform: translateY(10px);
  margin-bottom: 35px;
}

label {
  color: #327f9e;
  font-size: 2em;
  margin-right: 15px;
}

input {
  color: grey;
  font-size: 1.4em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  border: 1px dotted #ccc;
}

.save {
  text-align: center;
  margin-top: 50px;
  font-weight: normal;
  font-size: 1.2em;
  width: 100px;
  color: white !important;
  background-color: #327f9e;
  text-align: center !important;
  padding: 5px;
  border-radius: 20px;
  border: 1px dotted #327f9e;
  transition: all ease 0.3s;
  outline: none;
}

.save:hover {
  cursor: pointer;
  border: 1px solid grey !important;
}
