#menu {
  display: none;
}

#centered-content {
  position: absolute;
  text-align: center;
  top: 50% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

h1 {
  letter-spacing: 2px;
  color: #327f9e;
  text-shadow: 2px 2px 3px #ccc;
  text-align: center;
  font-size: 4em;
  padding: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  margin-bottom: 35px;
}

label {
  color: #327f9e;
  font-size: 2em;
  margin-right: 15px;
}

#username-label {
  margin-right: 11px;
}

.email-label {
  margin-right: 11px;
}

input {
  color: grey;
  font-size: 1.4em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  border: 1px dotted #ccc;
  /* width: 200px; */
}

.inputs {
  width: 455px;
  -webkit-transform: translate(-56px, 26px);
          transform: translate(-56px, 26px);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  margin-top: 20px;
}

#create-account {
  position: relative;
  top: -8px;
  left: 130px;
}

#lfp_timbalbundle_course_password_first {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

#lfp_timbalbundle_course_email {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.save {
  text-align: center;
  margin-top: 50px;
  font-weight: normal;
  font-size: 1.2em;
  width: 110px;
  color: white !important;
  background-color: #327f9e;
  text-align: center !important;
  padding: 5px;
  border-radius: 20px;
  border: 1px dotted #327f9e;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  outline: none;
}

.save:hover {
  cursor: pointer;
  border: 1px solid grey !important;
}

.id-save {
  margin-top: 81px;
}

.desktop-inputs {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.alert-danger, ul {
  color: #b74153;
  border-radius: 9px;
  padding: 8px 13px 6px;
  margin-top: 13px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.alert-danger {
  position: absolute;
  -webkit-transform: translate(-3px, 91px);
          transform: translate(-3px, 91px);
}

ul {
  -webkit-transform: translate(108px, -66px);
          transform: translate(108px, -66px);
  position: absolute;
  list-style: none;
  margin-bottom: 10px;
  width: 330px;
}

@media screen and (min-width: 421px) and (max-width: 812px) {
  h1 {
    -webkit-transform: translateY(33px);
            transform: translateY(33px);
  }
  .create-id-h1 {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .save {
    -webkit-transform: translateY(-41px);
            transform: translateY(-41px);
  }
  .id-save {
    margin-top: 0;
    -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
  }
  .mobile-inputs {
    position: relative;
    top: -49px;
  }
  .inputs {
    margin-bottom: 15px;
  }
  ul {
    -webkit-transform: translate(138px, -66px);
            transform: translate(138px, -66px);
    position: absolute;
    list-style: none;
    margin-bottom: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    color: #b74153;
  }
  li {}
}

@media screen and (min-width: 200px) and (max-width: 530px) {
  .alert-danger {
    -webkit-transform: translate(-72px, 127px);
            transform: translate(-72px, 127px);
  }
  .create-id-h1 {
    font-size: 3em;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .inputs {
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  input {
    margin-top: 13px;
  }
  .mobile-inputs {
    position: relative;
    top: -42px;
  }
  #create-account {
    position: relative;
    top: -8px;
    left: 74px;
  }
  label {
    position: relative;
    color: #327f9e;
    font-size: 2em;
    left: 6px;
    width: 50px !important;
    -webkit-transform: translateX(500px) !important;
            transform: translateX(500px) !important;
  }
  #lfp_timbalbundle_course_password_first, #lfp_timbalbundle_course_email {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #lfp_timbalbundle_course_password_first {
    margin-bottom: 10px;
  }
  .id-save {
    margin-top: 0;
  }
  ul {
    -webkit-transform: translate(8px, -25px);
            transform: translate(8px, -25px);
    position: absolute;
    list-style: none;
    margin-bottom: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    color: #b74153;
  }
}
