html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
  padding: 0;
}

#instructions {
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

h1 {
  position: relative;
  z-index: 1;
  color: #327f9e;
  text-shadow: 2px 2px 3px #ccc;
  text-align: center;
  font-size: 5em;
  padding: 0;
  margin: 0;
}

dd {
  color: grey;
  font-size: 2em;
  -webkit-transform: translateX(120px);
  transform: translateX(120px);
}

#menu {
  display: none;
  position: absolute;
  z-index: 2;
  text-align: left;
  padding: 5px;
  width: 100%;
  -webkit-transform: translate(-100%, -25px);
  transform: translate(-100%, -25px);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  height: 100%;
  background-color: rgb(250, 250, 249);
  -webkit-box-shadow: 2px 2px 3px #ccc;
  box-shadow: 2px 2px 3px #ccc;
}

#menu-call, #clock-call {
  background-color: rgb(250, 250, 249);
  -webkit-box-shadow: 2px 2px 3px #ccc;
  box-shadow: 2px 2px 3px #ccc;
  border-radius: 0 0 5px 0;
  color: #327f9e;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  margin-left: 0;
  position: absolute;
  padding: 5px;
  font-size: 2em;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}

#menu-call:hover {
  background-color: grey;
  color: white !important;
}

#clock-call {
  background-color: white;
  right: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  margin-left: 0;
  font-weight: 300 !important;
  color: rgb(90, 90, 90) !important;
}

#clock-call:hover {
  background-color: #327f9e;
  color: white !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 200px;
  background-color: rgb(250, 250, 249);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0px 0px 3px #bbb;
  box-shadow: 0px 0px 3px #bbb;
  height: 25px;
}

footer p {
  line-height: 0px;
  text-align: center;
  color: grey;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

@media screen and (min-width: 200px) and (max-width: 580px) {
  #instructions {
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
  }

  h1 {
    position: relative;
    z-index: 1;
    color: #327f9e;
    text-shadow: 2px 2px 3px #ccc;
    text-align: center;
    font-size: 5em;
    padding: 0;
    margin: 0;
  }

  dd {
    color: grey;
    font-size: 1.5em;
    -webkit-transform: translateX(120px);
    transform: translateX(26px);
    width: 196px;
  }
}
