body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#instructions {

  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  transition: all ease 1s;
}

h1 {
  color: #327f9e;
  text-shadow: 2px 2px 3px #ccc;
  text-align: center;
  font-size: 5em;
  padding: 0;
  margin: 0;
}

dd {
  color: grey;
  font-size: 2em;
  transform: translateX(120px);
}

#menu {
  padding : 5px;
  width: 185px;
  transform: translateX(-170px);
  transition: all ease 0.3s;
}
/*#menu:hover {
  transform: translateX(0px);
}
*/
#menu-call {
  position: absolute;
  padding: 5px;
  color: #327f9e;
  font-size: 2em;
  height: 100%;
  right: 0;
  margin-left: 10px;
}

footer {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
}
