#timetable-options {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
  color: grey;
  transition: all ease 0.3s;
}

a:hover, #delete-all:hover {
  color: #b74153 !important;
  cursor: pointer;
}

#delete-all {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: grey;
  font-size: 1em;
  border: none;
  background-color: rgb(250, 250, 249);
  outline: none;
  transition: all ease 0.3s;
  padding: 0;
  margin-left: 16px;
  margin-right: -16px;

}

nav ul li {
  display: inline;
  padding: 0 16px;
}

#menu h2 {
  transform: translateY(20px);
  text-align: center;
  font-weight: 300 !important;
  color: rgb(90, 90, 90) !important;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.time-table {
  float: left;
  width: 14.2%;
}

#menu ul {
  padding: 0;
  margin: 2px;
  list-style-type: none;
}

#my-timbal {
  padding-right: 10px;
}

.course-day {
  border: 1px solid rgb(255, 255, 255);
  font-weight: lighter;
  padding: 7px 5px 5px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 11px 11px 0 0;
}

.course-block {
  position: relative;
  list-style: none;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  margin-bottom: 2px;
  color: #0000009e;
}

.course-main {
  left: 50%;
  -webkit-transform: translate(0, 20%);
  transform: translate(0, 20%);
}

.course-hour, .course-name {
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  /* top: 50%; */
  font-weight: bold;
  font-size: 1.1em;
  color: #0000009e;
}

.teacher-name {
  float: right;
}

.fas {
  font-size: 13px;
}

.fa-trash {
  float: right;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.fa-trash:hover {
  color: red;
  cursor: pointer;
}

.duration-block {}

.monday-block {
  background-color: rgba(173, 230, 39, 0.15);
}

.tuesday-block {
  background-color: rgba(12, 186, 255, 0.15);
}

.wednesday-block {
  background-color: rgba(14, 191, 109, 0.15);
}

.thursday-block {
  background-color: rgba(255, 81, 64, 0.15);
}

.friday-block {
  background-color: rgba(204, 20, 55, 0.15);
}

.saturday-block {
  background-color: rgba(102, 63, 158, 0.15);
}

.sunday-block {
  background-color: rgba(239, 190, 24, 0.15);
}
