

#menu {
  display: block;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
}

#notification {
  position: absolute;
  float: left;
  top: -5px;
  margin-left: 47px;
  font-size: 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

#notification p {
  color: white;
  background-color: #327f9e;
  border-radius: 9px;
  padding: 8px 13px 6px;
  margin-top: 13px;
}

.fa-arrow-left {
  -webkit-transform: translate(-5px, -1px);
  transform: translate(-5px, -1px)
}

h1 {
  letter-spacing: 2px;
  color: #327f9e;
  text-shadow: 2px 2px 3px #ccc;
  text-align: center;
  font-size: 4em;
  padding: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  margin-top: 20px;
  margin-bottom: 35px;
}

h2 {
  letter-spacing: 2px;
  color: #327f9e;
  text-shadow: 2px 2px 3px #ccc;
  text-align: center;
  font-size: 2em;
  padding: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  margin-top: 20px;
  margin-bottom: 35px;
}

p {
  color: grey;
  font-size: 2em;
  padding: 0;
}

label, #days-label {
  color: #327f9e;
  font-size: 2em;
}

input {
  color: grey;
  font-size: 1.4em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#choice {
  height: 180px;
}

#lfp_timbalbundle_course_day {
  position: relative;
  color: grey;
  font-size: 2.1em !important;
  text-align: center;
  -webkit-transform: translate(0, -210%);
  transform: translate(0, -210%);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  width: 180px;
}

#chosen-time {
  display: none;
  color: grey;
}

#lfp_timbalbundle_course_chosenHour {
  position: relative;
  color: grey;
  font-size: 3em !important;
  text-align: center;
  left: 50%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: translate(-65%, -127px);
          transform: translate(-65%, -127px);
  font-size: 2em;
  width: 173px;
}

#lfp_timbalbundle_course_chosenMinute {
  position: relative;
  color: grey;
  font-size: 3em !important;
  text-align: center;
  left: 50%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: translate(-3%, -354%);
  transform: translate(-3%, -354%);
  font-size: 2em;
  width: 56px;
}

#lfp_timbalbundle_course_chosenHour, #lfp_timbalbundle_course_chosenMinute, #lfp_timbalbundle_course_durationHour, #lfp_timbalbundle_course_durationMinute {
  display: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#time-separator {
  display: block;
  z-index: 5;
}

#chosen-duration {
  position: absolute;
  top: 67%;
  left: 50%;
  width: 92px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
}

/* ???????? */

#duration select {
  width: 40px !important;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* //   // */

#course-duration {
  display: none;
  -webkit-transform: translateY(-17px);
  transform: translateY(-17px);
}

#chosen-duration p {
  font-size: 1em;
}

#lfp_timbalbundle_course_durationHour, #lfp_timbalbundle_course_durationMinute {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 1;
  color: grey;
  font-size: 2em;
  text-align: center;
  width: 30px;
  margin-bottom: 0;
}

#lfp_timbalbundle_course_durationHour {
  -webkit-transform: translate(-116%, -466%);
  transform: translate(-116%, -466%);
}

#lfp_timbalbundle_course_durationMinute {
  -webkit-transform: translate(24%, -566%);
  transform: translate(24%, -566%);
}

#duration-separator {
  position: relative;
  font-size: 0.5em;
  color: grey;
  top: -13px;
  left: 1px;
}

#clock-module {
  position: relative;
  height: 300px;
  text-align: center;
  width: 300px;
  margin: auto;
  -webkit-transform: scale(1.5) translateY(55px);
  transform: scale(1.5) translateY(55px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#clock-module:hover {}

.minutes, .time {
  position: absolute;
  display: none;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid grey;
  border-radius: 50%;
  color: white;
  background-color: #327f9e;
  outline: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hour-pm {
  -webkit-box-shadow: 0 0 3px 0 #696363;
  box-shadow: 0 0 3px 0 #696363;
}

.hour-am {
  width: 20px;
  height: 20px;
  font-size: 50%;
  /* line-height: 0; */
  background-color: #6c8f9c;
  -webkit-box-shadow: 0 0 1px 0 #696363;
  box-shadow: 0 0 1px 0 #696363;
  text-shadow: 0px 0px 1px black;
  /*opacity: 0.9;*/
}

.hour-pm:hover {
  background-color: #79cae4;
  font-weight: bold;
  cursor: pointer;
}

.hour-am:hover {
  background-color: lightpink;
  font-weight: bold;
  cursor: pointer;
}

.day, .duration-hour-selector {
  width: 45px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.day:hover {
  background-color: #eee;
  cursor: pointer;
}

#duration-selector {
  position: relative;
  top: 200px;
}

#circle1 {
  position: relative;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px dotted grey;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: grey;
  -webkit-box-shadow: 0 0 1px 2px #696363;
  box-shadow: 0 0 1px 2px #696363;
}

#circle2 {
  position: relative;
  z-index: -1;
  top: -34%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 163px;
  height: 163px;
  background-color: lightgrey;
  -webkit-box-shadow: 0 0 5px 2px #696363;
  box-shadow: 0 0 5px 2px #696363;
}

#choice {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#hour-00 {
  top: 67px
}

#hour-01 {
  top: 78px;
  left: 192px;
}

#hour-02 {
  top: 109px;
  left: 222px;
}

#hour-03 {
  top: 150px;
  left: 233px;
}

#hour-04 {
  top: 191px;
  left: 222px;
}

#hour-05 {
  top: 222px;
  left: 192px;
}

#hour-06 {
  top: 233px;
}

#hour-07 {
  top: 222px;
  left: 109px;
}

#hour-08 {
  top: 191px;
  left: 78px;
}

#hour-09 {
  top: 150px;
  left: 67px;
}

#hour-10 {
  top: 108px;
  left: 78px;
}

#hour-11 {
  top: 78px;
  left: 109px;
}

/* --------------------------------------- */

#minute-00, #hour-12 {
  top: -1px;
  left: 50%;
}

#minute-05, #hour-13 {
  top: 16px;
  left: 188px;
}

#minute-10, #hour-14 {
  top: 62px;
  left: 234px;
}

#minute-15, #hour-15 {
  top: 125px;
  left: 251px;
}

#minute-20, #hour-16 {
  top: 188px;
  left: 234px;
}

#minute-25, #hour-17 {
  top: 235px;
  left: 188px;
}

#minute-30, #hour-18 {
  top: 251px;
}

#minute-35, #hour-19 {
  top: 235px;
  left: 62px;
}

#minute-40, #hour-20 {
  top: 188px;
  left: 16px;
}

#minute-45, #hour-21 {
  top: 125px;
  left: -1px;
}

#minute-50, #hour-22 {
  top: 62px;
  left: 16px;
}

#minute-55, #hour-23 {
  top: 16px;
  left: 62px;
}

.minutes {}

.angle {
  position: absolute;
  z-index: -1;
  background-color: #aaa;
  height: 100%;
  width: 1px;
  left: 50%;
}

#angle-05 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

#angle-10 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

#angle-15 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#angle-20 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

#angle-25 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

#duration {}

.duration-time {
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: grey;
  text-align: center;
  line-height: 32px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.duration-time:hover {
  background-color: floralwhite;
  color: darkred;
  cursor: pointer;
}

#duration-00 {
  left: -55px;
  top: -44px;
}

#duration-01 {
  left: -28px;
  top: -93px;
}

#duration-02 {
  left: 20px;
  top: -120px;
}

#duration-03 {
  left: 73px;
  top: -120px;
}

#duration-04 {
  left: 119px;
  top: -95px;
}

#duration-05 {
  left: 147px;
  top: -44px;
}

#duration-06 {
  left: 147px;
  top: 6px;
}

#duration-07 {
  left: 120px;
  top: 53px;
}

#duration-08 {
  left: 75px;
  top: 80px;
}

#duration-09 {
  left: 21px;
  top: 80px;
}

#duration-10 {
  left: -27px;
  top: 53px;
}

#duration-11 {
  left: -54px;
  top: 7px;
}

#hider {}

#reset {
  top: 250px;
}

#under-clock {
  position: absolute;
  top: 698px;
  bottom: 80px;
  width: 632px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#under-clock label {
  margin-left: 8px;
  margin-right: 14px;
}

#under-clock input, #under-clock select {
  text-align: left;
  color: grey;
  border: 1px dotted #ccc;
  font-size: 1.2em;
  width: 200px;
}

#under-clock select {
  margin-right: 11px;
  width: 203px;
}

#lfp_timbalbundle_course_building {
  margin-left: -5px;
}

.inputs {
  width: 314px;
  padding: 0;
  margin: 0 0 15px 0;
}

.two-inputs {
  float: left;
  margin: 0;
  padding: 0;
}

#lfp_timbalbundle_course_course {
  width: 200px;
}

.save {
  -webkit-transform: translate(0, 69%);
  transform: translate(0, 69%);
  color: white !important;
  font-weight: normal;
  font-size: 1em;
  background-color: #327f9e;
  text-align: center !important;
  padding: 10px;
  border-radius: 20px;
  border: 1px dotted #327f9e;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  outline: none;
}

.save:hover {
  cursor: not-allowed;
  border: 1px solid grey !important;
}

#building-error, #room-error, #course-error, #teacher-error {
  position: absolute !important;
  font-size: 15px !important;
  color: #b74153;
  width: auto;
  text-align: left;
}

#course-error {
  -webkit-transform: translate(95px, -25px);
          transform: translate(95px, -25px);
}

#room-error {
  -webkit-transform: translate(95px, 21px);
          transform: translate(95px, 21px);
}

#building-error {
  -webkit-transform: translate(419px, -25px);
          transform: translate(419px, -25px);
}

#teacher-error {
  -webkit-transform: translate(419px, 21px);
          transform: translate(419px, 21px);
}

#errors-box ul {
  display: none;
}

.fa-exclamation-triangle {
  font-size: 22px;
}

li {
  /* padding-bottom: 15px; */
}

footer p {
  font-size: 1em;
}

@media screen and (min-width: 681px) and (max-width: 769px) {
  #notification {
    padding: 0 7px !important;
    margin-top: -7px !important;
    font-size: 8px !important;
  }
}

@media screen and (min-width: 401px) and (max-width: 680px) {
  h1 {
    color: #327f9e;
    font-size: 3.5em;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  label, #days-label {
    font-size: 1.5em;
  }
  #days {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #clock-module {
    -webkit-transform: scale(1.1) translateY(12px);
            transform: scale(1.1) translateY(12px);
  }
  #lfp_timbalbundle_course_day {
    font-size: 1.6em !important;
    -webkit-transform: translate(0, -498%);
            transform: translate(0, -498%);
    width: 135px;
  }
  #lfp_timbalbundle_course_chosenHour {
    font-size: 2em !important;
    -webkit-transform: translate(-87%, -183px);
            transform: translate(-87%, -183px);
    width: 56px;
  }
  #lfp_timbalbundle_course_chosenMinute {
    font-size: 2em !important;
    -webkit-transform: translate(-15%, -637%);
            transform: translate(-15%, -637%);
    width: 56px;
  }
  #lfp_timbalbundle_course_durationHour, #lfp_timbalbundle_course_durationMinute {
    font-size: 1.5em;
    width: 30px;
  }
  #lfp_timbalbundle_course_durationHour {
    -webkit-transform: translate(-102%, -763%);
            transform: translate(-102%, -763%);
  }
  #lfp_timbalbundle_course_durationMinute {
    -webkit-transform: translate(4%, -862%);
            transform: translate(4%, -862%);
  }
  #under-clock {
    position: absolute;
    top: 524px;
    /* bottom: 0; */
    width: auto;
    /* left: 50%; */
    -webkit-transform: translateX(-123px);
            transform: translateX(-123px);
  }
  #under-clock select {
    margin-right: 11px;
    width: 203px;
    font-size: 1em;
  }
  #under-clock input {
    font-size: 1em;
  }
  .two-inputs {
    -webkit-transform: translateX(-39px);
            transform: translateX(-39px);
  }
  #lfp_timbalbundle_course_course {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  #lfp_timbalbundle_course_room {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  label {
    font-size: 1.5em;
  }
  #course-error {
    -webkit-transform: translate(56px, -32px);
            transform: translate(56px, -32px);
  }
  #room-error {
    -webkit-transform: translate(56px, 11px);
            transform: translate(56px, 11px);
  }
  #building-error {
    -webkit-transform: translate(56px, 50px);
            transform: translate(56px, 50px);
  }
  #teacher-error {
    -webkit-transform: translate(56px, 90px);
            transform: translate(56px, 90px);
  }
  .save {
    -webkit-transform: translate(-35px, 10%);
            transform: translate(-35px, 10%);
    font-weight: normal;
    font-size: 0.8em;
  }
  footer {
    display: none;
  }
  #notification {
    top: -12px;
    margin-left: 47px;
    font-size: 8px;
  }
  #notification p {
    padding: 6px 10px 4px;
  }
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  h1 {
    color: #327f9e;
    font-size: 3em;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  label {
    font-size: 1.2em !important;
    margin-bottom: 15px;
    margin-top: -24px;
  }
  #days-label {
    display: none;
  }
  #days {
    -webkit-transform: scale(0.9) translateY(-10px);
            transform: scale(0.9) translateY(-10px);
  }
  .day {
    width: 38px;
    height: 27px;
    font-size: 20px;
    margin-top: -8px;
    margin-left: 1px;
    margin-right: 1px;
  }
  #clock-module {
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  #lfp_timbalbundle_course_day {
    font-size: 1.4em !important;
    -webkit-transform: translate(0, -624%);
            transform: translate(0, -624%);
    width: 135px;
  }
  #lfp_timbalbundle_course_chosenHour {
    font-size: 2em !important;
    -webkit-transform: translate(-87%, -204px);
            transform: translate(-87%, -204px);
    width: 56px;
  }
  #lfp_timbalbundle_course_chosenMinute {
    font-size: 2em !important;
    -webkit-transform: translate(-15%, -238px);
            transform: translate(-15%, -238px);
    width: 56px;
  }
  #lfp_timbalbundle_course_durationHour, #lfp_timbalbundle_course_durationMinute {
    font-size: 1.5em;
    width: 30px;
  }
  #lfp_timbalbundle_course_durationHour {
    -webkit-transform: translate(-102%, -863%);
            transform: translate(-102%, -863%);
  }
  #lfp_timbalbundle_course_durationMinute {
    -webkit-transform: translate(4%, -962%);
            transform: translate(4%, -962%);
  }
  #under-clock {
    position: absolute;
    top: 524px;
    width: 248px;
    t margin: auto;
    -webkit-transform: translate(-123px, -114px);
            transform: translate(-123px, -114px);
  }
  #under-clock select {
    margin-right: 11px;
    width: 203px;
    font-size: 0.8em;
  }
  #under-clock input {
    font-size: 0.8em;
  }
  .two-inputs {
    -webkit-transform: translateX(-39px);
            transform: translateX(-39px);
  }
  #lfp_timbalbundle_course_course {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  #lfp_timbalbundle_course_room {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  label {
    font-size: 1.5em;
  }
  .errors-box {
    width: 300px;
  }
  #course-error, #room-error, #building-error, #teacher-error {
    font-size: 0.8em !important;
    width: 295px;
    /* transform: translateX(18px) !important; */
  }
  #course-error {
    -webkit-transform: translate(-13px, -26px) !important;
            transform: translate(-13px, -26px) !important;
  }
  #room-error {
    -webkit-transform: translate(-13px, 8px) !important;
            transform: translate(-13px, 8px) !important;
  }
  #building-error {
    -webkit-transform: translate(-13px, 42px) !important;
            transform: translate(-13px, 42px) !important;
  }
  #teacher-error {
    -webkit-transform: translate(-13px, 76px) !important;
            transform: translate(-13px, 76px) !important;
  }
  .save {
    -webkit-transform: translateY(-7px) !important;
            transform: translateY(-7px) !important;
    font-weight: normal;
    font-size: 0.7em;
    padding: 6px;
  }
  footer {
    display: none;
  }
  #notification {
    top: -12px;
    margin-left: 47px;
    font-size: 8px;
  }
  #notification p {
    padding: 6px 10px 4px;
  }
}

/*------------------------ UNDER CCONSTRUCTION ------------------------*/
/* @media screen and (min-width: 200px) and (max-width: 600px) and (orientation: landscape) {
  .left-bloc-landscape {
    float: left;
    transform: scale(0.8) translate(32px, -67px);
  }
  .block-right-landscape {
    float: right;
    transform: scale(0.7) translate(-539px, 287px);
  }
  h1 {
    color: #327f9e;
    font-size: 3em;
    transform: translate(17px, -4px);

    margin-top: 20px;
  }
  #days-label {
    display: none;
  }
  #days {
    transform: scale(0.8) translate(-21px, -79px);
    position: absolute;
    width: 82px;
  }
  .day {
    width: 38px;
    height: 38px;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
  }
  #under-clock label {
    font-size: 1.5em !important;
    margin-bottom: 15px;
    margin-top: -24px;
  }
  #under-clock {
    transform: translate(41px, -414px);
    width: 251px;
  }
  #under-clock select {
    margin-right: 11px;
    width: 203px;
    font-size: 0.9em;
  }
  #under-clock input {
    font-size: 0.9em;
  }
  .save {
    transform: translate(-8px, 14px);
    font-weight: normal;
    font-size: 0.8em;
    padding: 6px;
    width: 108%;
  }
  .slide-call {
    width: 30px;
    text-align: center;
  }
  #clock-module {
    transform: scale(1) translateY(-10px);
  }
  #lfp_timbalbundle_course_day {
    position: absolute;
    font-size: 1.6em !important;
    transform: translate(-90px, -560%);
    width: 135px;
  }
  #lfp_timbalbundle_course_chosenHour {
    position: absolute;
    font-size: 2em !important;
    transform: translate(-127%, -177px);
    width: 56px;
  }
  #lfp_timbalbundle_course_chosenMinute {
    position: absolute;
    font-size: 2em !important;
    transform: translate(-51%, -177px);
    width: 56px;
  }
  #lfp_timbalbundle_course_durationHour, #lfp_timbalbundle_course_durationMinute {
    position: absolute;
    font-size: 1.5em;
    width: 30px;
  }
  #lfp_timbalbundle_course_durationHour {
    transform: translate(-174%, -476%);
  }
  #lfp_timbalbundle_course_durationMinute {
    transform: translate(-64%, -477%);
  }
  #lfp_timbalbundle_course_course {
    transform: translateX(7px);
  }
  #lfp_timbalbundle_course_room {
    transform: translateX(6px);
  }
  .errors-box {
    width: 300px;
  }
  #course-error, #room-error, #building-error, #teacher-error {
    font-size: 0.8em !important;
    width: 295px;
  }
  #course-error {
    transform: translate(-13px, 8px) !important;
    width: 267px;
  }
  #room-error {
    transform: translate(-13px, 8px) !important;
  }
  #building-error {
    transform: translate(-13px, 42px) !important;
  }
  #teacher-error {
    transform: translate(-15px, 92px) !important;
    width: 273px;
  }
  footer {
    display: none;
  }
  #notification {
    top: -12px;
    margin-left: 47px;
    font-size: 8px;
  }
  #notification p {
    padding: 6px 10px 4px;
  }

}

@media screen and (min-width: 601px) and (max-width: 800px) and (orientation: landscape) {
  .left-bloc-landscape {
    float: left;
    transform: scale(0.8) translate(32px, -67px);
  }
  .block-right-landscape {
    float: right;
    transform: scale(0.7) translate(-539px, 287px);
  }
  h1 {
    color: #327f9e;
    font-size: 3em;
    transform: translate(17px, -4px);
    margin-top: 20px;
  }
  #days-label {
    display: none;
  }
  #days {
    transform: scale(0.8) translate(-21px, -79px);
    position: absolute;
    width: 82px;
  }
  .day {
    width: 38px;
    height: 38px;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
  }
  #under-clock label {
    font-size: 1.5em !important;
    margin-bottom: 15px;
    margin-top: -24px;
  }
  #under-clock {
    transform: translate(41px, -414px);
    width: 251px;
  }
  #under-clock select {
    margin-right: 11px;
    width: 203px;
    font-size: 0.9em;
  }
  #under-clock input {
    font-size: 0.9em;
  }
  .save {
    transform: translate(-8px, 14px);
    font-weight: normal;
    font-size: 0.8em;
    padding: 6px;
    width: 108%;
  }
  .slide-call {
    width: 30px;
    text-align: center;
  }
  #clock-module {
    transform: scale(1) translateY(-10px);
  }
  #lfp_timbalbundle_course_day {
    position: absolute;
    font-size: 1.6em !important;
    transform: translate(-90px, -560%);
    width: 135px;
  }
  #lfp_timbalbundle_course_chosenHour {
    position: absolute;
    font-size: 2em !important;
    transform: translate(-127%, -177px);
    width: 56px;
  }
  #lfp_timbalbundle_course_chosenMinute {
    position: absolute;
    font-size: 2em !important;
    transform: translate(-51%, -177px);
    width: 56px;
  }
  #lfp_timbalbundle_course_durationHour, #lfp_timbalbundle_course_durationMinute {
    position: absolute;
    font-size: 1.5em;
    width: 30px;
  }
  #lfp_timbalbundle_course_durationHour {
    transform: translate(-174%, -476%);
  }
  #lfp_timbalbundle_course_durationMinute {
    transform: translate(-64%, -477%);
  }
  #lfp_timbalbundle_course_course {
    transform: translateX(7px);
  }
  #lfp_timbalbundle_course_room {
    transform: translateX(6px);
  }
  .errors-box {
    width: 300px;
  }
  #course-error, #room-error, #building-error, #teacher-error {
    font-size: 0.8em !important;
    width: 295px;
  }
  #course-error {
    transform: translate(-13px, 8px) !important;
    width: 267px;
  }
  #room-error {
    transform: translate(-13px, 8px) !important;
  }
  #building-error {
    transform: translate(-13px, 42px) !important;
  }
  #teacher-error {
    transform: translate(-15px, 92px) !important;
    width: 273px;
  }
  footer {
    display: none;
  }
  #notification {
    top: -12px;
    margin-left: 47px;
    font-size: 8px;
  }
  #notification p {
    padding: 6px 10px 4px;
  }
} */
/* ---------------------------------------------------------------------*/

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .no-landscape {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #menu {
    display: none;
  }
  #content {
    display: none;
  }
}
