body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
}

h1 {
  letter-spacing: 2px;
  color: #327f9e;
  text-shadow: 2px 2px 3px #ccc;
  text-align: center;
  font-size: 5em;
  padding: 0;
  margin: 0;
}

p {
  color: grey;
  font-size: 2em;
  padding: 0;
}

input {
  color: grey;
  font-size: 1.4em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#choice {
  height: 180px;
}

#chosen-day {
  width: 120px;
  transform: translateY(75px);
  transition: all ease 0.3s;
}

#chosen-time {
  display: none;
}

#chosen-hour, #chosen-minute {
  text-align: center;
  width: 54px;
}

#chosen-duration {
  display: none;
  width: 92px;
  transform: translateY(-260px);
  margin: auto;
}

select {
  width: 40px !important;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transform: translateY(-10px);
}

#chosen-duration p {
  font-size: 1em;
}

#duration-hour, #duration-minute {
  text-align: center;
  width: 25px;
  transform: translateY(-14px);
}

#duration-separator {
  position: relative;
  top: -18px;
}

.clock {
  position: relative;
  height: 300px;
  text-align: center;
  width: 300px;
  margin: auto;
  transform: scale(1.5) translateY(70px);
  transition: all 1s ease;
}

.clock:hover {}

.minutes, .hours {
  position: absolute;
  display: none;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid grey;
  border-radius: 50%;
  color: white;
  background-color: #327f9e;
  outline: none;
  transition: all ease 0.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hour-pm {
  box-shadow: 0 0 3px 0 #696363;
}

.hour-am {
  width: 20px;
  height: 20px;
  font-size: 50%;
  padding: 5px;
  background-color: #ef8293;
  box-shadow: 0 0 1px 0 #696363;
  text-shadow: 0px 0px 1px black;
  /*opacity: 0.9;*/
}

.hour-pm:hover {
  background-color: #79cae4;
  font-weight: bold;
  cursor: pointer;
}

.hour-am:hover {
  background-color: lightpink;
  font-weight: bold;
  cursor: pointer;
}

.day, .duration-hour-selector {
  width: 45px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  transition: all ease 0.5s;
}

.day:hover {
  background-color: #eee;
  cursor: pointer;
}

#duration-selector {
  position: relative;
  top: 200px;
}

#circle1 {
  position: relative;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dotted grey;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: grey;
  box-shadow: 0 0 1px 2px #696363;
}

#circle2 {
  position: relative;
  z-index: -1;
  top: -34%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 163px;
  height: 163px;
  background-color: lightgrey;
  box-shadow: 0 0 5px 2px #696363;
}

#choice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hour-00 {
  top: 67px
}

#hour-01 {
  top: 78px;
  left: 192px;
}

#hour-02 {
  top: 109px;
  left: 222px;
}

#hour-03 {
  top: 150px;
  left: 233px;
}

#hour-04 {
  top: 191px;
  left: 222px;
}

#hour-05 {
  top: 222px;
  left: 192px;
}

#hour-06 {
  top: 233px;
}

#hour-07 {
  top: 222px;
  left: 109px;
}

#hour-08 {
  top: 191px;
  left: 78px;
}

#hour-09 {
  top: 150px;
  left: 67px;
}

#hour-10 {
  top: 108px;
  left: 78px;
}

#hour-11 {
  top: 78px;
  left: 109px;
}

/* --------------------------------------- */

#minute-0, #hour-12 {
  top: -1px;
  left: 50%;
}

#minute-5, #hour-13 {
  top: 16px;
  left: 188px;
}

#minute-10, #hour-14 {
  top: 62px;
  left: 234px;
}

#minute-15, #hour-15 {
  top: 125px;
  left: 251px;
}

#minute-20, #hour-16 {
  top: 188px;
  left: 234px;
}

#minute-25, #hour-17 {
  top: 235px;
  left: 188px;
}

#minute-30, #hour-18 {
  top: 251px;
}

#minute-35, #hour-19 {
  top: 235px;
  left: 62px;
}

#minute-40, #hour-20 {
  top: 188px;
  left: 16px;
}

#minute-45, #hour-21 {
  top: 125px;
  left: -1px;
}

#minute-50, #hour-22 {
  top: 62px;
  left: 16px;
}

#minute-55, #hour-23 {
  top: 16px;
  left: 62px;
}

.h-cross {
  display: none;
  position: absolute;
  height: 1px;
  width: 30px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-cross {
  display: none;
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.minutes {}

.angle {
  position: absolute;
  z-index: -1;
  background-color: #aaa;
  height: 100%;
  width: 1px;
  left: 50%;
}

#angle-05 {
  transform: rotate(30deg);
}

#angle-10 {
  transform: rotate(60deg);
}

#angle-15 {
  transform: rotate(90deg);
}

#angle-20 {
  transform: rotate(120deg);
}

#angle-25 {
  transform: rotate(150deg);
}

#duration {}

.duration-time {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: grey;
  text-align: center;
  line-height: 32px;
}

.duration-time:hover {
  cursor: pointer;
}

#duration-0 {
  left: -55px;
  top: -44px;
}

#duration-1 {
  left: -28px;
  top: -93px;
}

#duration-2 {
  left: 20px;
  top: -120px;
}

#duration-3 {
  left: 73px;
  top: -120px;
}

#duration-4 {
  left: 119px;
  top: -95px;
}

#duration-5 {
  left: 147px;
  top: -44px;
}

#duration-6 {
  left: 147px;
  top: 6px;
}

#duration-7 {
  left: 120px;
  top: 53px;
}

#duration-8 {
  left: 75px;
  top: 80px;
}

#duration-9 {
  left: 21px;
  top: 80px;
}

#duration-10 {
  left: -27px;
  top: 53px;
}

#duration-11 {
  left: -54px;
  top: 7px;
}
