{# src/OC/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "LFPTimbalBundle::layout.html.twig" %}

{% block body %}
  {% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="../.././../web/assets/css/id.css">
  {% endblock %}
  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}
  <div id="centered-content">
    {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
    <form action="{{ path('login_check') }}" method="post">
      <h1>Welcome</h1>
      <div>
        <label for="username">Username :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
      </div>
      <div>
        <label for="password">Password :</label>
        <input type="password" id="password" name="_password"/>
      </div>
      <br/>
      <input class="save" type="submit" value="Connexion"/>
    </form>
  </div>

{% endblock %}
