# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
services:
    lfp_timbal.antispam:
        class: LFP\TimbalBundle\Antispam\LFPAntispam
        arguments:
            - "@mailer"
            - "%locale%"
            - 50
    # default configuration for services in *this* file
    _defaults:
        # automatically injects dependencies in your services
        autowire: true
        # automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        public: false

    twig.extension.sortbyfield:
        class: Snilius\Twig\SortByFieldExtension
        tags:
            - { name: twig.extension }

    app.doctrine.hash_password_listener:
        class: AppBundle\Doctrine\HashPasswordListener
        autowire: true
        tags:
            - { name: doctrine.event_subscriber }
