{# src/LFP/TimbalBundle/Resources/views/Course/add.html.twig #}

{% extends "LFPTimbalBundle::layout.html.twig" %}

{% block title %}{{ parent() }}
  - Welcome{% endblock %}

{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" href="../.././../web/assets/css/add.css">
{% endblock %}

{% block lfptimbal_body %}
  <div class="when">
    {{ form(form) }}

    </div>


    {% block javascripts %}
      {{ parent() }}
    {% endblock %}
  {% endblock %}
