{# src/LFP/TimbalBundle/Resources/views/Course/index.html.twig #}

{% extends "LFPTimbalBundle::layout.html.twig" %}

{% block title %}{{ parent() }}
  - Welcome{% endblock %}

{% block stylesheet %}
  {{ parent() }}
{% endblock %}

{% block lfptimbal_body %}

  <dl id="instructions">
    <dt>
      <h1 id="instructions-h1"></h1>
    </dt>
    <dd id="instructions-dd"></dd>
  </dl>

  <script type="text/javascript" src="{{ asset('assets/js/instructions.js') }}"></script>
  
{% endblock %}
