{# src/OC/PlatformBundle/Resources/views/Advert/menu.html.twig #}

{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}. #}

<ul class="nav nav-pills nav-stacked">
  {% for course in listCourses %}
    <li>
      <a href="{{ path('lfp_timbal_view', {'id': course.id}) }}">
        {{ course.title }}
      </a>
    </li>
  {% endfor %}
</ul>
