{# src/LFP/TimbalBundle/Resources/views/Course/menu.html.twig #}

{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}. #}



<ul class="nav nav-pills nav-stacked">
  {% for course in listCourses %}
    <li class="course-menu">
      <span class="course-day">{{ course.day }}</span> | 
        {{ course.course }}
    </li>

  {% endfor %}
</ul>
