{# src/LFP/TimbalBundle/Resources/views/Course/close.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Timbal</title>
    </head>
    <body>
        <h1>{{ text }}</h1>
        <p>
            {{ caption }}
        </p>
    </body>
</html>
