{# src/LFP/TimbalBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Timbal</title>
    </head>
    <body>
        <h1>{{ text }}</h1>
        <p>
            {{ caption }}
        </p>
        <form class="" action="index.html" method="post">
          <input type="text" name="teacher" value="Teacher's name" />
          <select class="course" name="Courses list">
            <option value="course">{{ course }}</option>
          </select>
        </form>
    </body>
</html>
